body, html {
	height: 100%;
}

/* -------------------------------- 
Main 
-------------------------------- */
.cd-section {
	min-height: 100%;
	position: relative;
	padding: 2em 0;
	text-align: center;
}
.cd-section:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.8);
}
.cd-section:nth-of-type(even) {
	background-color: #FFFFFF;
}
.cd-section p {
	position: absolute;
	left: 50%;
	top: 10%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 90%;
	max-width: 768px;
	text-align: center;
	color: #dedede;
	font-size: 1.4em;
	font-family: "Times New Roman", Georgia, Serif, sans-serif;
	line-height: 1.5em;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	padding: 10px 40px;
	border: 10px solid #f9f1e9;
}
@media (min-width:800px) {
	embed {
		width: 960px;
		height: 540px;
		margin: 0 auto;
	}
}
@media (max-width:800px) {
	embed {
		width: 90%;
		height: 500px;
		margin: 0 auto;
	}
}