body, html {
	height: 100%;
}

/* -------------------------------- 
Main 
-------------------------------- */
.cd-img-replace {

	/* replace text with a background-image */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
.cd-section {
	min-height: 100%;
	position: relative;
	padding: 2em 0;
	text-align: center;
}
.cd-section:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.8);
}
.cd-section:nth-of-type(even) {
	background-color: #FFFFFF;
}
.cd-section h1 {
	position: absolute;
	left: 50%;
	top: 10%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 90%;
	max-width: 768px;
	text-align: center;
	color: #dedede;
	font-family: "Times New Roman", Georgia, Serif, sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	line-height: 2em;
}
.cd-section p {
	position: absolute;
	left: 50%;
	top: 10%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 90%;
	max-width: 768px;
	text-align: center;
	color: #dedede;
	font-size: 1.4em;
	font-family: "Times New Roman", Georgia, Serif, sans-serif;
	line-height: 1.5em;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	padding: 10px 40px;
	border: 10px solid #f9f1e9;
}
.cd-section:nth-of-type(even) p {
	color: #563624;
}
.cd-scroll-down {
	position: absolute;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 40%;
	width: 38px;
	height: 44px;
	background: url("../imgs/cd-arrow-bottom.svg") no-repeat center center;
}