/*  general */
h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Georgia, Serif, sans-serif;
    color: #dedede;
}
a {
    outline: none;
    color: #dedede;
}
a:link {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    color: #86aca3
}

/*  header */
.header {
    background: rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55), inset 0 -1px 0 rgba(255, 255, 255, 0.09);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55), inset 0 -1px 0 rgba(255, 255, 255, 0.09);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55), inset 0 -1px 0 rgba(255, 255, 255, 0.09);
    z-index: 101;
    background-size: cover;
    padding: 50px 0 0;
    text-align: center;
    min-height: 150px;
    position: relative
}
.logoimg {
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: -34px
}
.navbar-nav {
    list-style: none;
    float: right;
    position: relative;
    z-index: 1003;
    padding: 30px 0;
}
.navbar-nav ul {
    margin: 0;
    list-style-type: none;
    position: relative;
    overflow: inherit;
}
.navbar-nav ul li {
    position: relative;
    float: left;
    background: none;
    padding-left: 15px;
    margin-left: 15px;
}
.navbar-nav ul li a {
    display: block;
    text-decoration: none;
    line-height: 1.2em;
    font-size: 1.2em;
    letter-spacing: 0.4px;
    color: #dedede;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    padding: 0;
    font-weight: bold;
}
.navbar-nav  ul li.active a, .navbar-nav ul li a:hover {
    color: #86aca3;
    background-color: transparent;
}
.navbar-nav  ul li.active a, .navbar-nav ul li a:focus {
    color: #86aca3;
    background-color: transparent;
}
.navbar-nav ul li.active li a {
    color: #dedede
}

/* main content*/
.main {
    margin-top: 90px
}

/* FOOTER */
.footer-wrapper {
    background: rgba(0, 0, 0, 0.44);
    margin-top: 600px;
    padding: 10px 0;
    height: 2em;
    line-height: 2em;
    color: #b9b9b9;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
}