/*  general */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.0;
    font: inherit;
    vertical-align: baseline;
    font-family: "Times New Roman", Georgia, Serif, sans-serif !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Georgia, Serif, sans-serif;
    color: #dedede;
}
h1 {
    font-size: 1.3;
}
h2 {
    font-size: 1.2;
}
h3 {
    font-size: 1.1;
}
h4 {
    font-size: 1.0;
}
h5 {
    font-size: 0.9;
}
h6 {
    font-size: 0.8;
}
a {
    outline: none;
    color: #dedede;
}
a:link {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    color: #86aca3
}
ol, ul, li {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background-color: black;
}

/*navbar-nav */
nav {
    background-image: url('../imgs/navbg.png');
}
.navbar-nav li a {
    text-decoration: none;
}
span.nav-label {
    display: none;
}
.navbar-default {
    text-align: center;
}

/* For screen bigger than 800px */
@media (min-width:800px) {

    /* Transforms the list into a horizontal navbar-navigation */
    .navbar-nav {
        float: none;
    }
    .navbar-nav li {
        background-color: transparent;
        display: inline-block;
        border: 0 none;
        margin: 0;
        float: none;
    }
    .navbar-nav a {
        display: block;
        margin: 0 auto;
    }
    .navbar-nav a img {
        max-width: 100px;
        max-height: 100px;
        position: relative;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .navbar-nav a img::before, .navbar-nav a img::after {
        content: '';
    }
    .navbar-nav a img:hover, .navbar-nav a img:focus {
        transform: translate(0, -20px) scale(1.2, 1.2);
        -ms-transform: translate(0, -20px) scale(1.2, 1.2);       /* IE 9 */
        -webkit-transform: translate(0, -20px)scale(1.2, 1.2);   /* Safari and Chrome */
    }
    .navbar-default {
        text-align: center;
        height: 100px;
        margin-bottom: 200px;
    }
}

/* The "tablet" and "mobile" version */
@media (max-width:800px) {
    span.nav-label {
        display: block;
        position: relative;
        text-align: right;
        margin-right: 0;
        padding: .1em 0;
        color: #B93B3B;
        font-size: 1em;
    }
    .navbar-nav a:hover {
        background-color: #B93B3B;
        color: white;
    }
    a img {
        display: none;
    }
    .navbar-toggle {
        margin-top: 10px;
    }
    .navbar-default {
        background-color: transparent;
    }
    .navbar-default .navbar-collapse {
        border: 0 none;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
}

/* FOOTER */
.footer-wrapper {
    background: rgba(0, 0, 0, 0.44);
    margin-top: 20px;
    padding: 10px 0;
    height: 2em;
    line-height: 2em;
    color: #b9b9b9;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
}