/*  general */
h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman", Georgia, Serif, sans-serif;
	color: #dedede;
}
h1 {
	font-size: 1.3;
}
h2 {
	font-size: 1.2;
}
h3 {
	font-size: 1.1;
}
h4 {
	font-size: 1.0;
}
h5 {
	font-size: 0.9;
}
h6 {
	font-size: 0.8;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
a {
	outline: none;
	color: #dedede;
}
a:link {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	color: #86aca3
}

/*  header */
.header {
	background: rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55), inset 0 -1px 0 rgba(255, 255, 255, 0.09);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55), inset 0 -1px 0 rgba(255, 255, 255, 0.09);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55), inset 0 -1px 0 rgba(255, 255, 255, 0.09);
	z-index: 101;
	background-size: cover;
	padding: 50px 0 0;
	text-align: center;
	min-height: 150px;
	position: relative
}
.logoimg {
	position: absolute;
	left: 1%;
	right: 1%;
	bottom: -34px
}
.navbar-nav {
	font-family: sans-serif;
	list-style: none;
	float: right;
	position: relative;
	z-index: 1003;
	padding: 30px 0;
	background-color: none;
	border-color: none;
}
ul .navbar-nav {
	margin: 0;
	list-style-type: none;
	position: relative;
	overflow: inherit;
}
.navbar-nav li {
	display: block;
	position: relative;
	float: left;
	background: none;
}
.navbar-nav li a {
	text-decoration: none;
	line-height: 1.2em;
	font-size: 1.2em;
	color: #dedede;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	padding-left: 15px;
}
.navbar-nav li a:hover {
	background: none;
	color: #86aca3;
}

/* main content*/
.main {
	margin: 0 auto;
	margin-top: 90px;
}
.imgContainer {
	width: 745px;
	margin: 20px auto;
	padding: 10px;
	box-shadow: 1px 0 6px 0 rgba(180, 180, 180, 0.4);
}
.imgUl {
	position: relative;
	width: 2500px;
}
.box {
	width: 684px;
	margin-left: 30px;
	overflow: hidden;
}
.detailImg, .smallImg {
	position: relative;
}

/*detailImg*/
#detailImg-box {
	min-height: 200px;
}
.detailImg {
	text-align: center;
}
.detailImg img {
	max-width: 684px;
}
.detailImg p {
	text-align: left;
	color: #999;
}
#detailImg-pre, #detailImg-next {
	position: absolute;
	width: 30px;
	height: 46px;
	top: 50%;
	background: url(../image/page_button.gif) 0 0 no-repeat;
	cursor: pointer;
	text-indent: -9999px;
}
#detailImg-pre {
	left: 0;
	background-position: -35px 0;
}
#detailImg-next {
	right: 0;
	background-position: -99px 0;
}
#detailImg-pre:hover {
	background-position: -35px -47px;
}
#detailImg-next:hover {
	background-position: -99px -47px;
}

/*smallImg*/
#smallImg-box {
	height: 92px;
}
.smallImg li {
	float: left;
	width: 76px;
}
.smallImg li a {
	display: block;
	width: 70px;
	height: 70px;
	border: 3px solid #fff;
	overflow: hidden;
	vertical-align: middle;
	margin: 5px auto;
}
.smallImg img {
	width: 70px;
}
.smallImg li a:hover, .smallImg .cur a {
	border-color: #F45E5E;
}
#smallImg-pre, #smallImg-next {
	position: absolute;
	top: 0;
	height: 92px;
	width: 28px;
	margin: 0;
	background: url(../image/album-arrow.png) 0 0 no-repeat;
	cursor: pointer;
}
#smallImg-pre {
	left: 0;
}
#smallImg-next {
	right: 0;
	background-position: 0 -94px;
}
#smallImg-pre:hover {
	background-position: -28px 0;
}
#smallImg-next:hover {
	background-position: -28px -94px;
}

/*---------------------------------*/
.footer {
	min-height: 300px;
	margin-top: 50px;
	background: #FFBEBE;
	padding-bottom: 50px;
	text-align: center;
}
.footer h1 {
	font-size: 60px;
	color: white;
	margin: 0;
	padding-top: 50px;
	text-align: center;
	text-shadow: 0 3px 5px #888;
}
.footer h2 {
	text-align: center;
	padding: 10px 0 0;
	color: #2D8AB1;
}
.footer h3 {
	text-align: center;
	padding: 0px;
	color: #555;
	font-weight: normal;
}
#gitHubIcon {
	width: 90px;
	height: 90px;
}
.downloadBtn button {
	padding: 8px;
	font-size: 18px;
	color: #26677B;
	font-weight: bold;
	font-family: "Arial";
	background: powderblue;
	border: none;
	border-radius: 10px;
	border-bottom: 4px solid #62CBD8
}
.downloadBtn button:hover {
	background: #99E1FF;
}
.downloadBtn a {
	font-weight: bold;
	font-family: "Arial";
	font-size: 18px;
	text-decoration: none;
	color: #26677B;
}

/* FOOTER */
.footer-wrapper {
	background: rgba(0, 0, 0, 0.44);
	margin-top: 60px;
	padding: 10px 0;
	height: 2em;
	line-height: 2em;
	color: #b9b9b9;
	font-size: 0.8em;
	text-align: center;
	text-decoration: none;
}