q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}
a img {
	border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}
body {
	text-align: center;
}
img {
	max-width: 100%;
	margin: 0 auto;
}
h1 {
	color: white;
	font-size: 1.4em;
	margin-top: -20px;
}
.footer-wrapper {
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
}
@media (max-width:800px) {
	canvas {
		top: 100px;
	}
	h1 {
		font-size: 1.0em;
		margin-top: 50px;
	}
	img {
		margin-top: 180px;
	}
	.footer-wrapper {
		margin-top: -10px;
	}
}