<!DOCTYPE html>
<html ng-app="demo">
<head>
	<title>Demo Blog</title>
</head>
<body>
<h1>这个页面将会解释如何通过Angular JS显示Blog文章,并进行访问控制</h1>
<div id="container" ng-controller="AppCtrl">
	<button ng-click="update()">点击这里显示博客</button>
	<small>{{login}}</small>
	<div class="article" ng-repeat="article in blog">
		<h1>{{article.title}}</h1>
		<small>{{article.time}}</small>
		<p ng-repeat="line in article.content">{{line}}</p>
	</div>
</div>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript">
var app = angular.module('demo',[])

app.controller('AppCtrl',function($scope,$http,$window){
	$scope.blog = []
	$scope.login = ""
	$scope.update = function(){
		var password = $window.prompt("输入密码", "")
		$http.get('loginValidation.php?q='+password)
		.success(function(response){
			if(response.valid){
				$scope.getBlog()
				$scope.login = "登录成功"
			}else{
				$scope.login = "登录失败"
			}
		})
	}

	$scope.getBlog = function(){
		$http.get('blog.json')
		.success(function(response){
			$scope.blog = response.blog
		})
	}
})
</script>

</body>
</html>